:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: #07ACE629;
    --color-accent-red: #FB3B64;
    --color-accent-green: #55DFB4;
    --color-black: #000000;
    --color-black-shadow: #00000029;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

/* header and navigation */

header {
    width: 100vw;
    height: 70px;
    margin-bottom: 130px;
    background-color: var(--color-white);
    box-shadow: var(--color-black-shadow) 0 3px 6px;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

.header-container {
    width: 83vw;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

div.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navigation {
    width: 33vw;

    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.nav-button {
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: var(--color-grey);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

/* opening section */

section.opening {
    width: 100vw;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.opening-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 57px;
    margin-bottom: 20px;
}

p.call-to-action {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
}

.button-primary {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

img.background-main {
    width: 100vw;
}

/* section stats */

section.stats {
    width: 100vw;
    margin-bottom: 121px;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.stats-container {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.stats {
    margin-bottom: 100px;
}

div.stats-icon-container {
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.stats-icon-column {
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-icon {
    margin-bottom: 14px;
}

.stats-icon-background {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.stats-icon-image[alt*=person] {
    position: absolute;
    top: 5px;
    left: 27px;
}

.stats-icon-image[alt*=eye] {
    position: absolute;
    top: 11px;
    left: 17px;
}

.stats-icon-image[alt*=catalog] {
    position: absolute;
    top: 5px;
    left: 26px;
}

.stats-icon-background-red {
background-color: var(--color-accent-red);
}

.stats-icon-background-blue {
    background-color: var(--color-primary);
}

.stats-icon-background-green {
    background-color: var(--color-accent-green);
}

p.number {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 6px;
    margin-bottom: 19px;
}

p.number-description {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-grey);
    text-align: center;
}

/* section benefits */

section.benefits {
    width: 100vw;
    padding-top: 106px;
    background-color: var(--color-light-grey);

    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-container {
    width: 70%;
}

.benefit-container-primary {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

